:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --text-color: #ffffff;
  --background-color: #343a40;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto; /* Define two rows */
  grid-gap: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  background-color: var(--background-color);
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0;
}

.nav-link {
  display: block;
  padding: 15px 20px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
}

.nav-link:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 4px;
}

.nav-link:hover,
.nav-link:active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  .nav-list {
      flex-direction: row;
      align-items: center;
  }
  .timeline::before {
    left: 31px;
  }
  .nav-link {
      padding: 10px 15px;
      font-size: 1.2rem;
  }
}

.heading-name {
  padding: 10px 15px;
  margin: 0;
  /*border: 1px solid #f17105;
  font-size: x-large;*/
}

.profile-picture {
  width: 266px;
  height: 269px;
  overflow: hidden;
  border-radius: 50%; /* Makes it circular */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow */
  margin-top: 2%;
  margin-left: 42%;
}

.profile-img {
  width: 100%;
  height: auto;
  display: block;
 
} 
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 25px auto;
}
.content{
  position: relative;
  padding: 15px 30px;
  background: blanchedalmond;
  border-radius: 25px;
  font-size: 15px;
  text-align: left;
}
.container {
  position: relative;
  padding: 15px 30px;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0%{
    opacity: 1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.container:nth-child(2){
  animation-delay: 1s;
}
.container:nth-child(3){
  animation-delay: 2s;
}
.container:nth-child(4){
  animation-delay: 3s;
}
.container:nth-child(5){
  animation-delay: 4s;
}
.container:nth-child(6){
  animation-delay: 5s;
}
.container:nth-child(7){
  animation-delay: 6s;
}
.left {
  left: 0;
}

.right {
left: 55%;
}


.container img {
  position: absolute;
  width: 42px;
  border-radius: 25px;
  right: -20px;
  top: 32px;
  z-index: 10;
  border-color: #282c34;
  background-color: aqua;
}
.right img{
  left: -20px;
}

.timeline::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 100%;
  top: 0;
  left: 54%;
  background: aqua;
  z-index: -1;
  margin-left: 4px;
  animation: moveline 6s linear forwards;
}
@keyframes moveline {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
  
}
.content h2 {
  font-weight: 600;
}
.content small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-arrow {
  position: absolute;
  height: 0;
  top: 27px;
  width: 0;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid blanchedalmond;
  right: -8px;
}
.right-arrow {
  position: absolute;
  height: 0;
  top: 27px;
  width: 0;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid blanchedalmond;
  left: -8px;
}