:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --text-color: #ffffff;
  --background-color: #343a40;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto; /* Define two rows */
  grid-gap: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  background-color: var(--background-color);
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0;
}

.nav-link {
  display: block;
  padding: 15px 20px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
}

.nav-link:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 4px;
}

.nav-link:hover,
.nav-link:active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 600px) {
  .nav-list {
      flex-direction: row;
      align-items: center;
  }

  .nav-link {
      padding: 10px 15px;
      font-size: 1.2rem;
  }
}

.heading-name {
  padding: 10px 15px;
  margin: 0;
  /*border: 1px solid #f17105;
  font-size: x-large;*/
}